body {
    background-color:rgb(255, 255, 255);
}

body .page_title{
    text-align: center;
    font-size: 36px;
    font-style:italic;
    color:black;
    position: relative;
    width: auto;
    height: 100px;
}

.page_title .first{
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    position: absolute;
    right: 25%;
    top: 0;
}

.page_title .second{
    margin-top: 0;
    position: absolute;
    left: 75%;
    top: 50%;
}

.breadcrumb {
    color:black;
}

.intro {
    text-align : center;
    font-family:"Arial";
    color:black;
}


p {
    color:black;
}

ul {
    
    list-style: none;
    width:1400px; 
    height:300px;
    text-align: center;
}


ul > li > a{
    color:rgb(16, 55, 183);
    margin:50px;
    float: left;
    text-indent: 200px;
    
}


