body {
    background-color:rgb(255, 255, 255);
}

body .page_title{
    text-align: center;
    font-size: 36px;
    font-style:italic;
    color:black;
}


.breadcrumb {
    color:black;
}

.intro {
    color:red;
}



p {
    color:black;
}

ul {
    width:750px; 
    height:300px;
}

ul > li > a{
    color:rgb(16, 55, 183);
}
